<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiTrans.mapper.AuditorProjectMapper">
<!-- 通过项目id查找译员id -->
<select id="findByProjectid" parameterType="int" resultType="com.aiTrans.entity.AuditorProjectFormMap">
	select * from auditor_projectD where projectId=#{projectId}
</select>

<select id="findById" parameterType="com.aiTrans.entity.AuditorProjectFormMap" resultType="com.aiTrans.entity.AuditorProjectFormMap">
	select * from auditor_projectD where projectId=#{projectId} and auditorId=#{auditorId}
</select>
</mapper>