<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiTrans.mapper.ClientUploadDataMapper">
	<select id="findClientUploadData" parameterType="com.aiTrans.entity.ClientUploadDataFormMap" resultType="com.aiTrans.entity.ClientUploadDataFormMap">
		select id,
				userName,
				softName,
				platform,
				source,
				target,
				runtime,
				original,
				translation 
		from client_upload_tran_dataD 
	</select>
	<insert id="insertClientUploadData" parameterType="com.aiTrans.entity.ClientUploadDataFormMap">
		insert into client_upload_tran_dataD (userName,softName,platform,	source,target,runtime,original,translation,originallen,translationlen) values (#{userName},	#{softName},	#{platform},#{source},#{target},#{runtime},#{original},#{translation},#{originalLen},#{translationLen})
	</insert>
	<select id="findClientUploadInfo" parameterType="com.aiTrans.entity.ClientSoftInfoFormMap" resultType="com.aiTrans.entity.ClientSoftInfoFormMap">
		select top 1
			softName,
			softIp,
			userName,
			softVersion,
			lastUpdateTime,
			releaseTime,
			md5Value,
			id,
			softCode,
			dataPath,
			releaseLog
		from client_soft_info
		order by lastUpdateTime		
	</select>
	<select id="findCloudInfo" parameterType="java.lang.Integer" resultType="com.aiTrans.entity.ClientCloudFormMap">
		select 
			id,
			moduleName,
			moduleVersion,
			releaseTime,
			isAvailable,
			ranking,
			clientId,
			md5Value,
			releaseLog,
			fileType	,
			dataPath	
		from client_cloud_info
		where clientId=#{clientId}			
	</select>
	<select id="findCloudSingle" parameterType="com.aiTrans.entity.ClientCloudFormMap" resultType="com.aiTrans.entity.ClientCloudFormMap">
		select 
			id,
			moduleName,
			moduleVersion,
			releaseTime,
			isAvailable,
			ranking,
			clientId,
			md5Value,
			releaseLog,
			fileType	,
			dataPath			
		from client_cloud_info
		where clientId=#{clientId}
		and moduleName=#{moduleName}
		and moduleVersion=#{moduleVersion}
		<if test="ranking != null">
			and ranking=#{ranking}
		</if>
		<if test="isAvailable != null">
			and isAvailable=#{isAvailable}
		</if>		
	</select>
	<select id="findClientInfo" parameterType="com.aiTrans.entity.ClientSoftInfoFormMap" resultType="com.aiTrans.entity.ClientSoftInfoFormMap">
		select 
			softName,
			softIp,
			userName,
			softVersion,
			lastUpdateTime,
			releaseTime,
			md5Value,
			id,
			softCode,
			dataPath,
			releaseLog
		from client_soft_info
		where softName=#{softName}	
		and 	softIp=#{softIp}
		and userName=#{userName}	
	</select>
	
</mapper>