<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiTrans.mapper.MemberMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
		id,
		account,
		nickname,
		phone,
		email,
		IP,
		description
	</sql>

	<select id="findPersonalPage" resultType="com.aiTrans.entity.MemberFormMap">
		select
		<include refid="selectId" />
		from memberD
		where 1 = 1 and type = 0 
		<if test="id !=null">
		and id=#{id}
		</if>
		<if test="account != null and account != ''">
		and account like '%${account}%'
		</if>
		<if test="column != null">
          order by ${column} ${sort}
        </if>
	</select>
	<select id="findGroupPage" resultType="com.aiTrans.entity.MemberFormMap">
		select
		<include refid="selectId" />
		from memberD
		where 1 = 1 and type = 1
		<if test="account != null and account != ''">
		and account like '%${account}%'
		</if>
		<if test="column != null">
          order by ${column} ${sort}
        </if>
	</select>
	
	
	
</mapper>